* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #00638e;
$seconday-color: #7ae4ff;
$light-bg-color: #a0eaff;
$text-color: #141414;
$text-blue: #4ca3ff;
$gray-text-color: #edf3f4;
$border-color: #bbb9b9;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  // this is the default value below
  --toastify-color-progress-light: $primary-color;
}

body {
  font-family: "Rubik", sans-serif;
  color: $text-color;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  //   scroll-snap-align: center;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3.5rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 450;
}

a {
  all: unset;
}
